PORT=5001
NODE_ENV=production
MONGO_URI=mongodb+srv://your-username:your-password@your-cluster.mongodb.net/pet-tinder?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_here
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
